<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>yes.ipa</key>
		<array>
			<dict>
				<key>architectures</key>
				<array>
					<string>arm64</string>
				</array>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>https://raw.githubusercontent.com/minhthuanluu/ipa-apk/main/salesalary.ipa</string>
				<key>bitcode</key>
				<true />
				<key>certificate</key>
				<dict>
					<key>SHA1</key>
					<string>644848C5CE1172C2CF9A362D72E75EB2D7DD5826</string>
					<key>dateExpires</key>
					<string>09/07/2022</string>
					<key>type</key>
					<string>Apple Distribution</string>
				</dict>
				<key>entitlements</key>
				<dict>
					<key>application-identifier</key>
					<string>E3SKMS7YFU.com.mf2app.salesalary</string>
					<key>beta-reports-active</key>
					<true />
					<key>com.apple.developer.team-identifier</key>
					<string>E3SKMS7YFU</string>
					<key>get-task-allow</key>
					<false />
				</dict>
				<key>name</key>
				<string>yes.app</string>
				<key>profile</key>
				<dict>
					<key>UUID</key>
					<string>997b5ae7-6cf0-4149-bfce-61305002476e</string>
					<key>name</key>
					<string>iOS Team Store Provisioning Profile: com.mf2app.salesalary</string>
				</dict>
				<key>symbols</key>
				<true />
				<key>team</key>
				<dict>
					<key>id</key>
					<string>E3SKMS7YFU</string>
					<key>name</key>
					<string>Bui Ngoc Son</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
